body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* ***********************banner section start************************ */
.container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding-top:20px ;
    margin: auto;
    margin-top: 30px;

}
.banner-write{
    width: 40%;
    margin-top: 20px;
    margin-left: 50px;
}
.banner-write a{
    text-decoration: none;
    background-color: rgb(240, 41, 6);
    padding: 8px 15px;
    color: aliceblue;
    border-radius: 10px; 
}
.banner-write h1{
    font-size: 40px;
}
.banner-write p{
    padding-bottom: 20px;
}
.banner-img{
    width: 40%;
}
.banner-img img{
    /* width: 100%; */
}
/******************************** banner section End********************************** */
/* **********************sitebar button and Blog start************************* */
.container02{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.second-section{
    display: flex;
    
}
.site-button{
    width: 15%;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    margin-right: 12px;
    padding: 0 15px;
}
.site-button button{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 8px;
    border-radius: 10px;
}
.site-button button a{
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;  
}
.site-button .button-01{
    background-color: red;
}
.site-button .button-03{
    background-color: red;
    color: white;
}
.site-button .button-03 a{
    
    color: white;
}
.site-button .button-01 a{
    color: white;
}

 
.lives{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
}
.live{
width: 85%;
border: 1px solid gray;
border-radius: 10px;
padding-bottom: 10px;
}
.live>img{
    width: 100%;
    margin-bottom: 10px;
}
.live a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 10px;
}
.live h4{
   padding-left: 10px;
}
.live-icon span{
    font-size: 15px;
    margin-left: 20px;
}
.live-icon{
    display: flex;
    align-items: center;
}

/*============================= wevsite two extra part start======================== */
.live2{
    padding: 10px;
    text-align: center;
    margin: auto;
}
.live-match{
    display: flex;
    justify-content: center;
}
.live-match h4{

    padding-right: 10px;
}
.live-match img{
    width: 50%;
}
/* ==================wevsite two extra part End=================== */
.view-button a{
    width: 150px;
    display: block;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 30px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
}
/********************* sitebar button and Blog End********************* */
/* **********************Footer section Start************************* */
.container03{
    background-color: black;
    padding: 40px 0;
    margin-top: 50px;
    
}
.container03 h2{
color: white;
text-align: center;
}
hr{
    width: 800px;
    
}
.navber ul{
display: flex;
justify-content: center;
}
.navber ul li{
    list-style: none;
    padding: 20px 15px;
}
.navber ul li a{
text-decoration: none;
color: aliceblue;

}


 .social-link a img{
    width: 3%;
    border-radius: 100%;
    margin-right: 10px;
}
.social-link{
    text-align: center;
} 
/* **********************Footer section End ***************************/

/********************* media queary mobile start***************** */

@media only screen and (max-width:688px) {
    .container{
        width:90%;
        height: auto;
        display: block;
    }
    .banner-write{
        width: auto;
        text-align: center;
        margin-left: 0;
    }
    .banner-img{
        width: 100%;
        text-align: center;
    }
    .banner-img img{
        padding-top: 50px;
        
    
    }
    .container02{
        margin-bottom: 20px;
    }
    .second-section{
        display: block;

    }
    .site-button{
        width: 90%;
    }
    .site-button {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .lives{
        grid-template-columns: repeat(1,1fr);
        margin: auto;

    }
    .live{
        width: 100%;
    }
    .view-button{
        display: none;
    }
    .container03{
        width:90%;
        margin: auto;
    }
    .navber ul{
        display: block;
        text-align: center;
        padding-left:0;
        /* margin-left: 0; */
    }
    hr{
        width: 80%;
    }

}
/********************* media queary mobile start***************** */
/********************* media queary Tab start***************** */

@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width:90%;
        height: auto;
        
    }
    .second-section{
        display: block;
    }
    .site-button {
        display: flex;
        width: 100%;
        height: auto;
        background-color: white;
        margin-bottom: 50px;
        
    }
    .site-button button{
        border-radius: 10px; 
        padding: 20px 15px;
    }
    .lives{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap:20px ;
        margin: auto;

    }
    .live{
        width: 100%;
    }
    
}
/********************* media queary Tab End***************** */
